@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Konkhmer+Sleokchher&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Konkhmer Sleokchher", "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-family: "Konkhmer Sleokchher", "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

@keyframes highlight {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

@keyframes unhighlight {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.highlight-animation {
  background: linear-gradient(to right, #fef08a 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  animation: highlight 0.5s ease-out forwards;
}

.unhighlight-animation {
  background: linear-gradient(to right, #fef08a 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left;
  animation: unhighlight 0.3s ease-out forwards;
}

@keyframes link-hover {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.highlight-link {
  background: linear-gradient(to right, #fef08a 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-out;
}

.highlight-link:hover {
  background-position: 0% 0;
}

.button-shadowed {
  box-shadow: 5px 5px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button-shadowed:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px;
}

.button-shadowed:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px;
}

.box-shadowed {
  box-shadow: 7px 7px;
}
